#googft-mapCanvas {
  height: 500px;
  margin: 0 auto;
  padding: 0;
}

body {
    font-family: Helvetica,Arial,freesans,sans-serif; 
    color: #505050;
}

#postcodeLookupForm {
    display: inline;
    position: relative; 
    top: -3px;
}

.checkboxLabel {
    line-height: 24px; 
}

.iconKey {
    width: 24px;
}

.container {
	max-width: 700px; 
	margin: 0 auto;
}

.notDisplayed {
    display: none;
}

.errorMessage {
    color: red;
}